h1 {
  text-align: center;
  font-size: 20px;
}

.btm {
  font-style: italic;
}

h2 {
  text-align: center;
  font-size: 100%;
}

.iitf {
  text-align: center;
  font-size: 70%;
}

.iif {
  text-align: center;
  font-size: 130%;
}

.io {
  text-align: center;
  font-size: 169%;
}


.ITF,
.IF,
.OI {
  text-align: center;
}

@media (min-width: 992px) {
  .col-lg-4 {
    width: 33.33%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .img-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
  }

  .size {
    width: 100%;
  }

  img {
    width: 90%;
  }

}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    width: 50%;
  }

  .col-md-12 {
    width: 100%;
  }

  .img-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
  }

  .size {
    width: 100%;
  }

  img {
    width: 90%;
  }

}

@media (max-width: 767px) {
  .col-sm-12 {
    width: 100%;
  }

  .img-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
  }

  .size {
    width: 100%;
  }

  img {
    width: 90%;
  }

}
