h1 {
  text-align: center;
  font-size: 24px;
}
h2 {
  font-size: 20px;
}

p {
  font-size: 120%;
}

a {
  text-decoration: none;
  font-size: 23px;
}

.link1:link {
  color: red;
}

.link2:link {
  color: black;
}

.link3:link {
  color: blue;
}

.link4:link {
  color: yellow;
}

.link1:visited {
  color: yellow;
}

.link2:visited {
  color: blue;
}

.link3:visited {
  color: black;
}

.link4:visited {
  color: red;
}

.flexcontainer {
  width: 100%;
  display: flex;
  text-align: center;
}

.item {
  display: block;
  margin: 15px;
  border: 2px solid black;
  border-radius: 15px;
  padding: 10px;
}

@media (min-width: 992px) {
  .col-lg-4 {
    width: 25%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .flexcontainer {
    flex-wrap: wrap;
  }

  .col-md-6 {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .flexcontainer {
    flex-direction: column;
  }

  .col-sm-12 {
    width: 100%;
  }
}
