h1 {
  text-align: center;
  font-size: 22px;
}

.btm {
  font-style: italic;
}

h2 {
  text-align: center;
}

ul li ul li:nth-child(odd) {
  background-color: gray;
  color: magenta;
  width: 200px;
}

ul li ul li:nth-child(even) {
  background-color: white;
  color: black;
  width: 200px;
}

ol li ol li:nth-child(4) {
  background-color: black;
  color: orange;
  width: 200px;
}

ol li ol li:nth-child(3) {
  cursor: pointer;
}

ol li ol li:nth-child(5) {
  cursor: pointer;
}

@media (min-width: 992px) {
  .col-lg-4 {
    width: 33.33%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .list-container {
    display: flex;
    flex-wrap: wrap;
  }

}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    width: 50%;
  }

  .col-md-12 {
    width: 100%;
  }

  .list-container {
    display: flex;
    flex-direction: column;
  }

}

@media (max-width: 767px) {
  .col-sm-12 {
    width: 100%;
  }

  .list-container {
    display: flex;
    flex-direction: column;
  }

}
