header li {
    list-style: none;
}

.try:visited {
    background-color: gray;
    border: 2px solid red;
    color: blue;
}

.try {
    cursor: pointer;
    text-decoration: none;
    background-color: blue;
    border: 2px solid yellow;
    color: white;
    display: block;
    width: 200px;
    text-align: center;
    margin-bottom: 4px;
}

.try:hover {
    background-color: magenta;
    color: black;

}

.try:active {
    background-color: yellow;
    color: black;
    border: 2px solid gray;
}

#idfirst {
    background-color: black;
    color: white;
}

#idsecond {
    background-color: aqua;
    color: black;
}

#idthird {
    background-color: gray;
    color: blue;
}

#idfourth {
    background-color: red;
    color: brown;
    font-size: 20px;
}

#idfifth {
    background-color: pink;
    color: purple;
}


.row {
    width: 100%;
    display: flex;
    text-align: center;

}
.row div{
    display: flex;
    align-items: stretch;
}

.item {
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px 0;
}

a {
    font-size: 34px;
    padding: 20px 0;
}

@media (min-width: 992px) {
    .row{
        flex-wrap: wrap;
    }
    .col-lg-4 {
        width: 33.33%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-4, .col-md-6{

    }

}

@media (min-width: 768px) and (max-width: 992px) {
    .row {
        flex-wrap: wrap;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-12 {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    .col-sm-12 {
        width: 100%;
    }
}
