h1 {
  text-align: center;
  font-size: 22px;
}

.bi,
.ch,
.sd,
.os,
.uv {
  font-size: 120%;
}

#basic_information,
#childhood,
#schooldays,
#out_school,
#university {
  font-size: 144%;
}

.btm {
  font-style: italic;
}

.dz {
  font-weight: bold;
}

.tt {
  text-transform: uppercase;
}

#Zmist {
  text-align: center;
}

ul li a:link {
  color: white;
  background-color: blue;
  border: 1px solid black;
  margin-bottom: 2px;
  display: block;
  width: 150px;
  text-align: center;
}

ul li a:visited {
  color: white;
}

ul li a:hover {
  color: white;
  background-color: magenta;
}

ul li a:focus {
  color: black;
  background-color: yellow;
}

.bi {
  background-color: black;
  color: red;
}

.ch {
  background-color: red;
  color: black;
}

.sd {
  background-color: yellow;
  color: blue;
}

.os {
  background-color: black;
  color: white;
}

.uv {
  background-color: white;
  color: black;
}

.flexcontainer {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: stretch;
}

.item {
  height: auto;
  margin: 10px;
  border: 1px solid black;
  border-radius: 15px;
  padding: 20px;
}


@media (min-width: 992px) {
  .flexcontainer {
    flex-wrap: wrap;
  }

  .col-lg-4 {
    width: 33.33%;
  }

  .list-container {
    display: flex;
    flex-direction: column;
    list-style: none;
    height: 75px;
    width: 320px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .flexcontainer {
    flex-wrap: wrap;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-12 {
    width: 100%;
  }

  .list-container {
    display: flex;
    flex-direction: column;
    list-style: none;
    height: 75px;
    width: 400px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .list-item {
    margin-top: 5px;
  }
}

@media (max-width: 767px) {
  .flexcontainer {
    flex-direction: column;
  }

  .col-sm-12 {
    width: 100%;
  }

  .list-container {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 400px;
    flex-wrap: wrap;
    justify-content: center;
  }
}