h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

td:nth-child(odd) {
    background-color: black;
    color: orange;
}

table {
    background-color: gray;
    color: blue;
    border: 2px solid purple;
    width: 1000px;
    margin-left: 40px;
}

th {
    border: 2px solid purple;
    background-color: green;
    color: blue;
}

tr th {
    color: aqua;
}

td {
    border: 2px solid purple;
    padding-left: 40px;
}

@media (min-width: 992px) {
    td {
        font-size: calc(16px + 20%);
    }
    th{
        font-size: calc(16px + 30%);
    }
}

@media (min-width: 768px) and (max-width: 992px) {

    td {
        font-size: calc(16px + 10%);
    }
    th{
        font-size: calc(16px + 20%);
    }
}

@media (max-width: 768px) {
    th{
        font-size: calc(16px + 10%);
    }
