#id_a:visited {
  color: blue;
}

#id_b:visited {
  color: goldenrod;
}

#id_c:visited {
  color: rgb(7, 8, 59);
}

#id_d:visited {
  color: rgb(6, 92, 6);
}

#id_a:link {
  color: brown;
}

#id_b:link {
  color: rebeccapurple;
}

#id_c:link {
  color: lawngreen;
}

#id_d:link {
  color: yellow;
}

h1 {
  text-align: center;
}

.row {
  width: 100%;
  display: flex;
  text-align: center;

}

.item {
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px 0;
}

a {
  font-size: 34px;
  padding: 20px 0;
}

@media (min-width: 992px) {
  .col-lg-4 {
      width: 25%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .row {
      flex-wrap: wrap;
  }

  .col-md-6 {
      width: 50%;
  }

  .col-md-12 {
      width: 100%;
  }
}

@media (max-width: 768px) {
  .row {
      flex-direction: column;
  }

  .col-sm-12 {
      width: 100%;
  }
}